html, body {
    background: #FAFAFA!important;
    color: #262626;
}

.slider_header {
    background-image: url('./assets/layers/hero.png');
    background-size: 100%;
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

.logo {
    width: 70px;
}
.navbar {
    box-shadow: none!important;
}
.navbar .navbar-nav .nav-item .nav-link {
    text-transform: none!important;
    font-size: 14px!important;
}
.nav-item .nav-link:hover {
    transition: 0.7s;
    color: #ff414e!important;
}

.mobile_menu_icon {
    width: 32px;
}
#container_slide{
    width: 100%;
    height: 800px;
}

.ibah_layer11 {
    position: absolute;
    width: 30%;
    left: 41%;
    top: -5vw;
    z-index: 1;
}

.ibah_layer12 {
    position: absolute;
    width: 70%;
    top: -15px;
    z-index: 2;
}

.ibah_text_layer {
    width: 16%;
    position: absolute;
    top: 25vw;
    left: 42%;
    z-index: 2;
}

#ibah_menu {
    z-index: 999;
}

.add_to_cart {
    z-index: 999999;
    background-color: white!important;
    border-radius: 4px!important;
    color: #f96257!important;
    top: 27vw;
    left: 44%;
}

.text_section h3 {}
.text_section span {
    color: #f96257;
}
.navbar .navbar-brand {
    z-index: 9999;
}
@media (max-width: 900px) {
    .slider_header {
        height: 500px;
    }
    .ibah_layer3 {
        width: 70%;
    }
}
@media (max-width: 767px) {
    .ibah_layer3 {
        width: 100%;
    }
    .slider_header {
        height: 250px;
    }
    .add_to_cart {
        z-index: 1;
        background-color: white!important;
        border-radius: 4px!important;
        color: #f96257!important;
        top: 17vw;
        left: 34%;
    }
    .ibah_layer11 {
        display: none;
    }
    .text_section h3 {
        font-size: 13px!important;
    }

    .ibah_layer12 {
        display: none;
    }

    .ibah_text_layer {
        display: none;
    }
}

.batton_group_section {

}

.section_block {
    padding: 10px;
    border-radius: 4px;
}
.section_block_super_sucsess {
    color: white;
    background: #d8da77;
}
.section_block_sucsess {
    color: white;
    background: #a7ad27;
}
.section_block_danger {
    color: white;
    background: #f96257;
}

.ibah_layer3 {

}
