/* Глобально */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    background-color: #FAFAFA;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
/* Глобально Конец*/

/* Меню Начало*/
.brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav.naviBah {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    max-width: 940px;
    padding-top: 18px;
    margin: 0 auto;
}
nav.naviBah ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav.naviBah ul li {
    padding-left: 30px;
}
nav.naviBah ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    transition: 0.2s;
}
nav.naviBah ul li a:hover {
    text-decoration: none;
    color: #E9544E;
    font-size: 15px;
    transition: 0.2s;
}
/* Меню Конец*/

/* Основные */
section div{
    width: 100%;
    max-width: 940px;
    padding-top: 18px;
    margin: 0 auto;
}
.layers {

}
/* Слои */
#layer_1_header {
    position: absolute;
    top: 399px;
    left: 575px;
    z-index: 12;
}
#layer_2_header {
    position: absolute;
    top: 380px;
    left: 550px;
    z-index: 11;
}
#layer_3_header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#layer_4_header {
    position: absolute;
    top: 228px;
    left: 378px;
    z-index: 8;
}
#layer_5_header {
    position: absolute;
    top: 67px;
    left: 481px;
    z-index: -5;
    mix-blend-mode: multiply;
}
#layer_6_header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -7;
}
/* Основные Конец*/



/* Мобильная версия */
@media all and (max-width: 768px){
    nav.naviBah {
        padding-left: 15px;
        padding-left: 15px;
    }
    nav.naviBah ul {
        display: none;
    }
    nav.naviBah a {
        padding: 10px;
    }
    nav.naviBah a img {
        width: 80%;
    }
    .brand {
        position: fixed;
        background: #fff;
        box-shadow: 0 4px 8px rgba(56, 56, 56, 0.15);
        border-radius: 50%;
        height: 86px;
        text-align: center;
    }
    section div{
        width: 100%;
        max-width: 940px;
        padding-top: 18px;
        padding-left: 15px;
        padding-left: 15px;
        margin: 0 auto;
    }
}
/* Мобильная версия Конец */
